@font-face {
	font-family: "cutive";
	src: url("CutiveMono-Regular.ttf");
}

@font-face {
	font-family: "antic-slab";
	src: url("AnticSlab-Regular.ttf");
}

@font-face {
	font-family: "spectral";
	src: url("Spectral-Light.ttf");
}