.container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
	}
}

.halfpage {
	display: flex;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.halfpage {
		width: 50%;
	}
}


#directory {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#directory h1 {
	font-family: spectral;
	font-size: 48px;
	font-weight: normal;
	text-decoration: underline;
}

#directory h2 {
	font-family: spectral;
	font-size: 36px;
	font-weight: normal;
}

#directory ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

#directory li {
	font-family: antic-slab;
	font-size: 36px;
	color: #383838;
	text-align: center;
	margin: 0.1em;
	padding-left: 0.8em;
	padding-right: 0.8em
}

#directory a {
	text-decoration: none;
	color: #383838;
}

#content {
	justify-content: center;
}

.card {
	background-color: #fafafa;
	border-color: #f4f4f4;
	border-width: 2px;
	border-style: solid;
}

.databox {
	padding: 1em;

	display: flex;
	flex-direction: column;

	color: #111;
	font-size: 1.1em;
	font-family: spectral;
}

.databox a {
	color: #111;
}

.databox h1, h2 {
	margin: 0.2em;
	font-family: cutive
}

.databox ul {
	list-style-type: none;
}

.databox li a {
	font-weight: bold;
}

.databox img {
	max-width: 100%
}

@media screen and (min-width: 768px) {
	.databox {
		overflow-y: scroll;
		height: 90vh;
	}
}