@font-face {
	font-family: "cutive";
	src: url("/fonts/CutiveMono-Regular.ttf");
}

@font-face {
	font-family: "antic-slab";
	src: url("/fonts/AnticSlab-Regular.ttf");
}

@font-face {
	font-family: "spectral";
	src: url("/fonts/Spectral-Light.ttf");
}