.container {
	display: flex;
	flex-direction: column-reverse;
}

@media screen and (min-width: 810px) {
	.container {
		flex-direction: row;
	}
}

.halfpage {
	display: flex;
	width: 100%;
}

@media screen and (min-width: 810px) {
	.halfpage {
		width: 50%;
	}
}


#directory {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 810px) {
	#directory {
		max-width: 45%;
	}
}

#directory h1 {
	font-family: spectral;
	font-size: 48px;
	font-weight: normal;
	text-decoration: underline;
}

#directory h2 {
	font-family: spectral;
	font-size: 36px;
	font-weight: normal;
}

#directory ul {
	display: inline;
	list-style: none;
	padding: 0px;
}

#directory li {
	display: inline;
	font-family: antic-slab;
	font-size: 30px;
	color: #383838;
	text-align: center;
}

#directory li::after {
	content: ", ";
}

#directory li:last-child::after {
	content: "";
}

#directory a {
	text-decoration: underline;
	color: #383838;
}

#content {
	justify-content: left;
}

@media screen and (min-width: 810px) {
	#content {
		width: 55%;
	}
}

.databox {
	display: flex;
	flex-direction: column;

	color: #111;
	font-size: 1.1em;
	font-family: spectral;
	width: 100%;
}

.databox a {
	color: #111;
}

.databox h1, h2 {
	margin: 0.2em;
	font-family: cutive
}

.databox ul {
	list-style-type: none;
}

.databox li a {
	font-weight: bold;
}

.databox img {
	max-width: 100%
}

@media screen and (min-width: 810px) {
	.databox {
		overflow-y: scroll;
		height: 90vh;
	}
}

.highlight {
	max-width: 100%;
	overflow-x: scroll;
}

@media screen and (min-width: 810px) {
	.highlight {
		overflow-x: visible;
	}
}